* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  overflow-x: hidden;
  font-family:"Alegreya";
}

.container-fluid{
  padding:0 !important;
}
nav {
  background-color: transparent;
  margin:0px 0px !important;
  position: absolute !important;
}

nav a {
  text-decoration: none;
  text-align: center!important;
  padding:14px 14px !important;
  font-size: 20px !important;
  color:white !important;
}

nav a:hover {
  color:red !important;
}

h1{
  font-size: 70px;
}

.carousel-item {
  height: 655px !important;
}

.carousel-item img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel .carousel-control-prev,.carousel .carousel-control-next {
  visibility: hidden !important;
}

.carousel:hover .carousel-control-prev, .carousel:hover .carousel-control-next {
  visibility: visible !important;
}

.carousel-caption {
  position: absolute;
  top:60px;
  font-size: 60px !important;
  color: lightgrey !important;
  text-align: center !important;
  font-family: "Fredericka the Great" !important;
}

#menu {
  background-image: url("assets/menu-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px !important;
}

#variety {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top:2%;
  margin-bottom:4%;
  margin-left:5%;
  margin-right: 5%;
  padding-top: 5px !important;
}

#overlay,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
  background-color:white;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  font-family: "Berkshire Swash";
  position: absolute;
  width:280px;
  color: maroon;
}

.col-md-3 img {
  width: 280px;
  height: 200px;
}

.menu h2 {
  text-align: center;
  padding-top:40px;
  font-family: "Rye";
  font-size:50px;
  font-weight: bold;
  color:maroon;
}

@media (max-width: 992px) {
  .carousel-item {
    height: 300px !important;
  }

  .col-md-3 img{
    width: 80% !important;
    height: 80% !important;
    margin-left: 50px !important;
    margin-right: auto !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  nav {
    position: absolute !important;
  }

  nav a {
    font-size: 15px !important;
  }

  h1 {
    font-size: 30px;
  }

  .menu h2 {
    font-size: 30px;
  }

  .carousel-caption {
    font-size: 20px !important;
    top:25px !important;
    left:50px !important;
  }
  #menu {
    height:100% !important;
  }

  #overlay,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
    font-size:20px;
    text-align:center;
    margin-left: 50px;
    margin-right: auto !important;
    margin-top: -20px;
    margin-bottom: 20px;
    width: 15%;
  }

}

#section2 {
  background-attachment: fixed;
  background-image: url("assets/order-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.order h2 {
  text-align: center;
}

.order {
  color: white;
  padding-top: 4%;
  padding-bottom: 4%;
  font-family:"Alegreya";
  font-weight: bold;
  font-size:20px;
}

.order-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 20px;
  padding-left: 6%;
}
.choice {
  display: none;
  padding-left: 2%;
  padding-right: 2%;
}
.deliver {
  display: none;
}
.delivery {
  display: none;
  padding-left: 10%;
  padding-right: 10%;
}
td,th {
  font-size: 20px;
  color: white;
}
.choice h2 {
  color:orangered;
  text-align: left;
}
#your-orders {
  color: white;
  font-size: 30px;
}

#addedprice{
  display: none;
}
#finalmessage{
  display: none;
  padding-top: 10%;
  padding-right: 10%;
  padding-left: 10%;
  font-size: 28px;
  color: lime;
}
#regards{
  text-align: center;
  color: deepskyblue;
}
#information{
  padding-top: 5%;
  font-size: 22px;
  padding-right: 8%;
  padding-left: 5%;
  color: #ffa500;
}

.btn-orange {
  background-color:orangered !important;
  border-radius:10px;
  color: white;
  margin-top:30px;
  margin-right:60px;
  font-family:"Rye";
  text-transform: uppercase;
}

.btn-orange:hover {
  color:navy !important;
}

.proceed {
  margin-top:-30px;
}

#contact h2{
  text-align: center;
  margin-top:80px;
  font-weight:bolder;
}

#contact{
  color:white;
  font-family: "Alegreya";
  margin-top:200px;
  margin-bottom:100px;
  font-size: 25px;
}

#contactdetails h2{
  text-align: left;
  font-weight: bolder;
}


.mapouter {
  margin-top:70px;
}

iframe {
  margin-top:20px;
  margin-right:45px;
}

.footer{
  padding-top: 5%;
}
