html {
  overflow-x: hidden;
}

.container-fluid{
  padding:0 !important;
}
nav {
  background-color: transparent;
  margin:30px 100px !important;
  position: absolute !important;
}

nav a {
  text-decoration: none;
  text-align: center!important;
  padding:14px 14px !important;
  font-size: 20px !important;
  color:white !important;
}

nav a:hover {
  color:fuchsia !important;
}

.carousel-item {
  height: 655px !important;
}

.carousel-item img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel .carousel-control-prev,.carousel .carousel-control-next {
  visibility: hidden !important;
}

.carousel:hover .carousel-control-prev, .carousel:hover .carousel-control-next {
  visibility: visible !important;
}

.carousel-caption {
  position: absolute;
  top:60px;
  font-size: 50px;
  color: white !important;
  text-align: center !important;
}

#menu {
  background-image: url("assets/menu-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#variety{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top:2%;
  margin-bottom:2%;
  margin-left:5%;
  margin-right: 5%;
}
.col-md-3 img{
  width: 280px !important;
  height: 200px;
}
.menu h2{
  text-align: center;
  padding-top:40px;
  font-family: 'Gabriela', serif;
}

@media (max-width: 768px) {
  .carousel-item {
    height: 300px !important;
  }

  .col-md-3 img{
    width: 80% !important;
    height: 80% !important;
    margin-left: 50px !important;
    margin-right: auto !important;
  }
}
