html {
  overflow-x: hidden;
}

.container-fluid{
  padding:0 !important;
}
nav {
  background-color: transparent;
  margin:0px 0px !important;
  position: absolute !important;
}

nav a {
  text-decoration: none;
  text-align: center!important;
  padding:14px 14px !important;
  font-size: 20px !important;
  color:white !important;
}

nav a:hover {
  color:fuchsia !important;
}

.carousel-item {
  height: 655px !important;
}

.carousel-item img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel .carousel-control-prev,.carousel .carousel-control-next {
  visibility: hidden !important;
}

.carousel:hover .carousel-control-prev, .carousel:hover .carousel-control-next {
  visibility: visible !important;
}

.carousel-caption {
  position: absolute;
  top:60px;
  font-size: 60px !important;
  color: white !important;
  text-align: center !important;
}

#menu {
  background-image: url("assets/menu-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px !important;
}

#variety {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top:2%;
  margin-bottom:2%;
  margin-left:5%;
  margin-right: 5%;
  padding-top: 20px !important;
}

#overlay,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
  display: none;
  color: black;
  width: 280px;
  height: 200px;
  background-color:rgba(255, 255, 255, 0.456);
  position:absolute;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  font-family: 'Delius Swash Caps', cursive;
}

.col-md-3 img {
  width: 280px !important;
  height: 200px;
}
.menu h2 {
  text-align: center;
  padding-top:40px;
  font-family: 'Gabriela', serif;
}

@media (max-width: 800px) {
  .carousel-item {
    height: 300px !important;
  }

  .col-md-3 img{
    width: 80% !important;
    height: 80% !important;
    margin-left: 50px !important;
    margin-right: auto !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  nav {
    position: absolute !important;
  }

  nav a {
    font-size: 12px !important;
  }
  .carousel-caption {
    font-size: 20px !important;
    top:25px !important;
    left:50px !important;
  }
  #menu {
    height:100% !important;
  }

}

.order h2 {
  text-align: center;
}

#order {
  background-attachment: fixed;
  background-image: url("assets/order-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding-top: 4%;
  padding-bottom: 4%;
}
.order-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 20px;
  padding-left: 6%;
}
.choose {
  display: none;
  padding-left: 2%;
  padding-right: 2%;
}
.deliver {
  display: none;
}
.delivery {
  display: none;
  padding-left: 10%;
  padding-right: 10%;
}
td,th {
  font-size: 20px;
  color: white;
}
.choose h2 {
  color:orange;
  text-align: left;
}
#your-orders {
  color: white;
  font-size: 30px;
}
